<ion-modal-view>
    <ion-header-bar>      
        <h1 class="title">Siswa</h1>
        <div class="buttons ">
            <!--<a class="button button-positive " ng-click="closeLogin()"><span class="icon-close-round"></span></a>-->
            <a class="button button-icon icon ion-ios-close-outline" ng-click="closeLogin()"></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list list-inset">
                <label class="item item-input">          
                    <input type="text" ng-model="loginData.idsiswa" placeholder="ID">
                </label>
                <label class="item item-input">          
                    <input type="password" ng-model="loginData.password" placeholder="Password">
                </label>

            </div>
            <div class="list list-inset">
                <button class="button icon-right ion-chevron-right button-positive button-block" type="submit">Masuk</button>            
            </div>      
        </form>
    </ion-content>
</ion-modal-view>
