<!--style="background-image: url('img/bg.jpg');"-->
<ion-view view-title="Modul" style="background-color:#d7dfef" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content>

        <div class="list " style="margin-top:-2px;">
            <a style="color:white" class="item item-icon-left item-divider positive-bg">
                <i style="color:white" class="icon ion-android-attach"></i>
                <small style="color:white">{{output.judul}}</small>
                <p style="color:white">Diperbarui pada : {{output.tgl_upload}}</p>
            </a>
        </div>
        <div class="card">
            <a href="#" class="item item-icon-right " ui-sref="home.modul_doc({modulId: output.id_modul})">
                <i class="icon ion-document-text positive"></i> Dokumentasi Pembelajaran
            </a>
        </div>
        <div class="card">
            <a href="#" class="item item-icon-right " ui-sref="home.modul_video({modulId: output.id_modul})">
                <i class="icon ion-social-youtube assertive"></i> Video Pembelajaran
            </a>
        </div>
        <div ng-if="output.questions === 'NONE'">
            <div class="card">
                <a class="item item-text-wrap item-icon-right " ui-sref="home.modul_soal({modulId: output.id_modul})">
                    <i class="icon ion-ios-compose-outline balanced"></i> Latihan Soal
                </a>
            </div>
        </div>
        <div ng-if="output.questions != 'NONE'">
            <div class="card">
                <a class="item item-text-wrap item-icon-right " ng-click="openModal()">
                    <i class="icon ion-ios-compose-outline balanced"></i> Lihat Hasil
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>